<fieldset>
        <div class="form-group">
            <label for="post-title">Title</label><br>
            <input class="form-control" id="post-title" type="text" name="title" value="{{post.title}}"/>
        </div>
        <div class="form-group">
            <label for="sub-title">Sub Title</label><br>
            <input class="form-control" id="sub-title" type="text" name="subTitle" value="{{post.subTitle}}" />
        </div>
        <div class="form-group">
            <label for="author">Author</label><br>
            <input class="form-control" id="author" type="text" name="author" value="{{post.author}}" />
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input name="category" type="text" class="form-control" id="category" placeholder="General">
        </div>
        <div class="form-group">
            <label for="review-description">Content</label><br>
            <textarea class="form-control" id="summary" name="summary" rows="20"/>{{post.summary}}</textarea>
        </div>
        <div class="form-group">
            <label for="upvote">Upvote?</label><br>
            <select name="upvote">
        <option value="0">I'm not upvoting my own shit</option>
        <option value="1">Hell, yeah!</option>
        <option value="2">I want to cheat, and give myself an extra one</option>
          </select>
      </div>
    </fieldset>
