<div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          <form method="POST" action="/posts/{{post._id}}?_method=PUT">
              {{> posts-form}}
                  <p>
                      <button type="submit">Submit Edit</button>
                  </p>
              </form>
              <a href="./">I'd Rather Not Edit Is</a>
      </div>
    </div>
