<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <form method="POST" action="/posts">
          {{> posts-form}}
        <p>
            <button type="submit">Publish</button>
        </p>

      </form>
      <a href="../">I don't want to make this</a>
  </div>
</div>
